@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Camphor
   -------------------------------------------------------------------------------------------- */
/* Camphor Light */
@font-face {
  font-display: swap;
  font-family: "Camphor";
  font-weight: 300;
  src: url("https://fonts.hlxcdn.com/fonts/camphor/CamphorStd-Light.woff");
}
/* Camphor Regular */
@font-face {
  font-display: swap;
  font-family: "Camphor";
  font-weight: 400;
  src: url("https://fonts.hlxcdn.com/fonts/camphor/CamphorStd-Regular.woff");
}
/* Camphor Medium */
@font-face {
  font-display: swap;
  font-family: "Camphor";
  font-weight: 500;
  src: url("https://fonts.hlxcdn.com/fonts/camphor/CamphorStd-Medium.woff");
}
/* Camphor Bold */
@font-face {
  font-display: swap;
  font-family: "Camphor";
  font-weight: 600;
  src: url("https://fonts.hlxcdn.com/fonts/camphor/CamphorStd-Bold.woff");
}
/* Tiempos Headline
 -------------------------------------------------------------------------------------------- */
/* Tiempos Headline Regular */
@font-face {
  font-display: swap;
  font-family: "TiemposHeadline";
  font-weight: 400;
  src: url("https://fonts.hlxcdn.com/fonts/tiempos-headline/TiemposHeadlineWeb-Regular.woff");
}
/* TT Norms
   -------------------------------------------------------------------------------------------- */
/* TT Norms Regular */
@font-face {
  font-display: swap;
  font-family: "TTNorms";
  font-weight: 400;
  src: url("https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Regular.woff");
}
/* TT Norms Medium */
@font-face {
  font-display: swap;
  font-family: "TTNorms";
  font-weight: 500;
  src: url("https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Medium.woff");
}
/* TT Norms Bold */
@font-face {
  font-display: swap;
  font-family: "TTNorms";
  font-weight: 700;
  src: url("https://fonts.hlxcdn.com/fonts/tt-norms/TTNorms-Bold.woff");
}
hr {
  margin: 62px 0;
}

.active {
  color: #4b94c6;
}

.--fullHeight {
  height: 100%;
}

.--justify-content-center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.--justify-content-space-between-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.--flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.--align-text-center {
  text-align: center;
}

.--align-text-start {
  text-align: start;
}

.--bold {
  font-weight: bold;
}

.--underlined {
  text-decoration: underline;
}

.--margin-none {
  margin: 0 !important;
}

.--padding-none {
  padding: 0 !important;
}

.card {
  border: none;
  font-family: "TTNorms";
  line-height: 26px;
  color: #383838;
}
.card .card__heading {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.card__subtitle {
  font-family: "TTNorms";
  font-weight: 400;
  font-size: 14px;
}

.card-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__subtitle {
  font-family: "TTNorms";
  font-size: 16px;
  color: #383838;
  margin-bottom: 60px;
}

.section__heading {
  font-family: "TTNorms";
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #363636;
  margin: 20px 0;
}

/*         navifation  */
.navigation {
  background-color: #fff !important;
  height: 80px;
}
.navigation .navbar {
  height: 100%;
}
.navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #fff;
}
.navigation .nav-link {
  font-family: "Camphor";
  font-weight: 500;
}
.navigation .nav-item {
  margin: 0 1%;
}

.announcment-bar {
  background-color: #a0c5db;
  padding: 12px 0;
}
.announcment-bar .announcment-bar__text {
  color: #fff;
  font-family: "TTNorms";
  font-weight: 400;
  font-size: 14px;
}

.benefits {
  background-color: #f4f4f4;
  padding-bottom: 60px;
}
.benefits .text-w-tabs-desktop {
  color: #ababab;
  line-height: 26px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}
.benefits .text-w-tabs-desktop__stats {
  border-radius: 3px;
  -webkit-box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
          box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
  background-color: #fff;
  padding: 60px 60px 120px;
}
.benefits .text-w-tabs-mobile__stats {
  display: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
          box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
  background-color: #fff;
  padding: 20px;
}
.benefits .text-w-tabs-mobile__stats .stats__image-mobile {
  margin: 20px 0 40px;
}

.future {
  font-family: "TTNorms";
}
.future .future__image__container {
  width: 100%;
}
.future .future__card-heading {
  font-weight: 600;
  color: #383838;
  font-size: 20px;
  line-height: 30px;
}
.future .future__image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.future .fututre__image {
  border-radius: 3px;
  -webkit-box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
          box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
  background-color: #fff;
  width: 100%;
  height: 95%;
  margin-bottom: 20px;
}
.future .fututre__image-mobile {
  display: none;
}
.future .next-button-span {
  border-style: solid;
  border-color: #333;
  border-width: 0 2px 2px 0;
  padding: 4px 11px;
  cursor: pointer;
}
.future .next-button-active {
  -webkit-transform: rotate(225deg) !important;
          transform: rotate(225deg) !important;
}
.future .next-button {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .text-w-tabs-desktop {
    display: none;
  }

  .text-w-tabs-desktop__stats {
    display: none;
  }

  .text-w-tabs-mobile__stats {
    display: block !important;
  }

  .future .future__image__container {
    display: none !important;
  }

  .fututre__image-mobile {
    display: block !important;
  }
}